@import "../../../assets/styles/_variables.scss";

.table {
  width: 100%;
  margin-bottom: 20px;

  & thead th,
  & tbody td {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
  }

  & thead th {
    font-weight: 700;
    background: $accent;
  }

  & tbody tr:nth-child(even) {
    background: $additional;
  }
}
