@import "../../../assets/styles/_variables.scss";

.button {
  background-color: $accent;
  padding: 15px;
  font-weight: 500;
  height: 46px;

  &:hover {
    background-color: $dark;
  }

  &_square {
    padding: 5px;
    width: 40px;
    height: 40px;
  }
}
